<meta charset="UTF-8">
<meta itemprop="legalName" content="Southern Alberta Institute of Technology">
<meta itemprop="name" content="SAIT">
<meta itemprop="url" content="https://www.sait.ca/">
<title>SAIT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="The Southern Alberta Institute of Technology (SAIT) offers programs to students with action-based learning to deliver the skills and knowledge employers demand.">
<meta name="author" content="SAIT">
<meta name="keywords" content="">
<meta name="robots" content="">
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="https://www.sait.ca/assets/prebuilt/img/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://www.sait.ca/assets/prebuilt/img/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://www.sait.ca/assets/prebuilt/img/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://www.sait.ca/assets/prebuilt/img/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://www.sait.ca/assets/prebuilt/img/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://www.sait.ca/assets/prebuilt/img/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://www.sait.ca/assets/prebuilt/img/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://www.sait.ca/assets/prebuilt/img/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://www.sait.ca/assets/prebuilt/img/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="https://www.sait.ca/assets/prebuilt/img/favicon/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://www.sait.ca/assets/prebuilt/img/favicon/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="https://www.sait.ca/assets/prebuilt/img/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://www.sait.ca/assets/prebuilt/img/favicon/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="https://www.sait.ca/assets/prebuilt/img/favicon/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://www.sait.ca/assets/prebuilt/img/favicon/manifest.json">
<link rel="mask-icon" href="https://www.sait.ca/assets/prebuilt/img/favicon/safari-pinned-tab.svg" color="#da291c">
<link rel="shortcut icon" href="https://www.sait.ca/assets/prebuilt/img/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="prebuilt/img/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="prebuilt/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- CSS from live site -->
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,700' rel='stylesheet' type='text/css'>
<link href="https://events.time.ly/opy9p2d/theme.css?themeId=402594" rel="stylesheet">
<link href="https://www.sait.ca/prebuilt/css/tooltipster.min.css" rel="stylesheet">
<link href="https://www.sait.ca/prebuilt/css/dest/screen.min.css" rel="stylesheet">
<link href="https://www.sait.ca/prebuilt/css/dest/search.min.css" rel="stylesheet">
<link href="https://www.sait.ca/prebuilt/css/dest/print.min.css" rel="stylesheet">
<link href="https://www.sait.ca/prebuilt/css/igx-styles.css?v=201909301020" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<link href="https://www.sait.ca/prebuilt/css/vendor/remodal.min.css" rel="stylesheet">
<link href="https://www.sait.ca/prebuilt/css/vendor/remodal-default-theme.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css" rel="stylesheet">

<!-- New styles -->
<link href="css/screen.css?v=2.2" rel="stylesheet">